version: 2
updates:
  # main branch configuration
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "gomod"
      include: "scope"
    groups:
      k8s-dependencies:
        patterns:
          - "k8s.io/*"
    ignore:
      # We want to ignore Istio dependencies because the update cycle is tied to the release of the Istio module and PRs can therefore be open for a long time.
      - dependency-name: "istio.io/client-go"
      - dependency-name: "istio.io/api"
      # Ignore unstable versions
      - dependency-name: "*"
        versions:
          - "*-alpha"
          - "*-beta"

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "docker"
      include: "scope"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "*"
        update-types: [ "version-update:semver-patch" ]

  # We only use npm for UI tests, therefore running it weekly and on main only is enough.
  - package-ecosystem: "npm"
    directory: "/tests/ui/tests/"
    schedule:
      interval: "weekly"

  # release branch configuration
  - package-ecosystem: "gomod"
    directory: "/"
    target-branch: "release-3.1"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "gomod"
      include: "scope"
    groups:
      k8s-dependencies:
        patterns:
          - "k8s.io/*"
    ignore:
      - dependency-name: "*"
        update-types: [ "version-update:semver-major", "version-update:semver-minor" ]
      # We want to ignore Istio dependencies because the update cycle is tied to the release of the Istio module and PRs can therefore be open for a long time.
      - dependency-name: "istio.io/client-go"
      - dependency-name: "istio.io/api"

  - package-ecosystem: "docker"
    target-branch: "release-3.1"
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "docker"
      include: "scope"
    ignore:
      - dependency-name: "*"
        update-types: [ "version-update:semver-major", "version-update:semver-minor" ]
