module-name: api-gateway
kind: kyma
bdba:
  - europe-docker.pkg.dev/kyma-project/prod/api-gateway/main/api-gateway-manager:564b3bd5ebc55edc39a5f6cb2f74802ab60fe6b3
  - europe-docker.pkg.dev/kyma-project/prod/external/oryd/oathkeeper:v0.38.25-beta.1
  - europe-docker.pkg.dev/kyma-project/prod/external/oryd/oathkeeper-maester:v0.1.5
mend:
  language: golang-mod
  subprojects: false
  exclude:
    - "**/tests/**"
    - "**/test/**"
    - "**/*_test.go"
checkmarx-one:
  preset: go-default
  exclude:
    - "**/tests/**"
    - "**/test/**"
    - "**/*_test.go"
