apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
spec:
  template:
    spec:
      containers:
      - name: manager
        args:
          - --oathkeeper-svc-address=OATHKEEPER_SVC_ADDRESS
          - --oathkeeper-svc-port=OATHKEEPER_SVC_PORT
          - --jwks-uri=JWKS_URI
          - --service-blacklist=SERVICE_BLACKLIST
          - --domain-whitelist=DOMAIN_WHITELIST
          - --cors-allow-origins=CORS_ALLOW_ORIGINS
          - --cors-allow-methods=CORS_ALLOW_METHODS
          - --cors-allow-headers=CORS_ALLOW_HEADERS
