# permissions for end users to view apirules.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: apirule-viewer-role
rules:
- apiGroups:
  - gateway.kyma-project.io
  resources:
  - apirules
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - gateway.kyma-project.io
  resources:
  - apirules/status
  verbs:
  - get
