# permissions for end users to edit apigateways.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: apigateway-editor-role
  labels:
    app.kubernetes.io/component: operator
rules:
- apiGroups:
  - operator.kyma-project.io
  resources:
  - apigateways
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - operator.kyma-project.io
  resources:
  - apigateways/status
  verbs:
  - get
