---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: ratelimits.gateway.kyma-project.io
spec:
  group: gateway.kyma-project.io
  names:
    kind: RateLimit
    listKind: RateLimitList
    plural: ratelimits
    singular: ratelimit
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.state
      name: Status
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: RateLimit is the Schema for reate limits API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: Defines the desired state of the RateLimit custom resource.
            properties:
              enableResponseHeaders:
                description: Enables **x-rate-limit** response headers. The default
                  value is `false`.
                type: boolean
              enforce:
                default: true
                description: |-
                  Controls whether rate limiting is enforced. If true, requests exceeding limits are rejected.
                  If false, request limits are monitored but requests that exceed limits are not blocked.
                  The default value is `true`.
                type: boolean
              local:
                description: Defines the local rate limit configuration.
                properties:
                  buckets:
                    description: |-
                      Specifies a list of additional rate limit buckets for requests. Each bucket must specify either a path or headers.
                      For each request matching the bucket's criteria, a single token is consumed. If a token is available, the request is allowed.
                      If no tokens are available, the request is rejected with status code `429`.
                    items:
                      description: Contains rate limit bucket configuration.
                      properties:
                        bucket:
                          description: Defines the token bucket specification.
                          properties:
                            fillInterval:
                              description: |-
                                Specifies the fill interval. During each fill interval, the number of tokens specified in the
                                **tokensPerFill** field is added to the bucket.
                                The bucket cannot contain more than maxTokens tokens.
                                The fillInterval must be greater than or equal to 50ms to avoid excessive refills.
                              format: duration
                              type: string
                            maxTokens:
                              description: |-
                                The maximum number of tokens that the bucket can hold.
                                This is also the number of tokens that the bucket initially contains.
                              format: int64
                              type: integer
                            tokensPerFill:
                              description: The number of tokens added to the bucket
                                during each fill interval.
                              format: int64
                              type: integer
                          required:
                          - fillInterval
                          - maxTokens
                          - tokensPerFill
                          type: object
                        headers:
                          additionalProperties:
                            type: string
                          description: |-
                            Specifies the headers for which rate limiting is applied. The key is the header's name, and the value is the header's value.
                            All specified headers must be present in the request for this configuration to match. For example, `x-api-usage: BASIC`.
                          type: object
                        path:
                          description: Specifies the path for which rate limiting
                            is applied. The path must start with `/`. For example,
                            `/foo`.
                          type: string
                      required:
                      - bucket
                      type: object
                      x-kubernetes-validations:
                      - message: At least one of 'path' or 'headers' must be set
                        rule: has(self.path) || has(self.headers)
                    type: array
                  defaultBucket:
                    description: |-
                      The default token bucket for rate limiting requests.
                      If additional local buckets are configured in the same RateLimit CR, this bucket serves as a fallback for requests that don't match any other bucket's criteria.
                      Each request consumes a single token. If a token is available, the request is allowed. If no tokens are available, the request is rejected with status code `429`.
                    properties:
                      fillInterval:
                        description: |-
                          Specifies the fill interval. During each fill interval, the number of tokens specified in the
                          **tokensPerFill** field is added to the bucket.
                          The bucket cannot contain more than maxTokens tokens.
                          The fillInterval must be greater than or equal to 50ms to avoid excessive refills.
                        format: duration
                        type: string
                      maxTokens:
                        description: |-
                          The maximum number of tokens that the bucket can hold.
                          This is also the number of tokens that the bucket initially contains.
                        format: int64
                        type: integer
                      tokensPerFill:
                        description: The number of tokens added to the bucket during
                          each fill interval.
                        format: int64
                        type: integer
                    required:
                    - fillInterval
                    - maxTokens
                    - tokensPerFill
                    type: object
                required:
                - defaultBucket
                type: object
              selectorLabels:
                additionalProperties:
                  type: string
                description: |-
                  Contains labels that specify the set of Pods or `istio-ingressgateway` to which the configuration applies.
                  Each Pod must match only one RateLimit CR.
                  The label scope is limited to the namespace where the resource is located.
                minProperties: 1
                type: object
            required:
            - local
            - selectorLabels
            type: object
          status:
            description: Defines the current state of the RateLimit custom resource.
            properties:
              description:
                description: Description defines the description of current State
                  of RateLimit.
                type: string
              state:
                description: State describes the overall status of RateLimit. The
                  possible values are `Ready`, `Warning`, and `Error`.
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
