name: Workflow validation

on:
  workflow_call:

permissions:
  contents: read

jobs:
  verify-actions:
    name: Ensure SHA pinned actions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: zgosalvez/github-actions-ensure-sha-pinned-actions@d5d20e15f2736816ee0e001ba8b24b54d9ffcff4 # 5.0.0
        with:
          # We only want to allow official GitHub Actions
          allowlist: |
            actions/checkout
            actions/setup-go
            actions/github-script
            actions/upload-artifact
            actions/download-artifact
            kyma-project/test-infra
            kyma-project/compliancy
