name: PR Integration

on:
  workflow_call:

jobs:
  changed-files:
    name: Changed files
    runs-on: ubuntu-latest
    outputs:
      any_modified: ${{ steps.changed-files.outputs.any_modified }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
      - uses: tj-actions/changed-files@2f7c5bfce28377bc069a65ba478de0a74aa0ca32
        id: changed-files
        with:
          files_ignore: |
            docs/**
            **/*.md
            tests/performance/**
            OWNERS
            CODEOWNERS
            sec-scanners-config.yaml
            external-images.yaml
  integration-tests:
    name: Integration tests
    runs-on: ubuntu-latest
    needs: [ changed-files ]
    if: needs.changed-files.outputs.any_modified == 'true'
    strategy:
      fail-fast: false
      matrix:
        test_make_target: [ "test-integration-ory", "test-integration-istio", "test-integration-v2alpha1", "test-integration-gateway", "test-integration-rate-limit", "test-integration-v2" ]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
      - uses: ./.github/actions/load-manager-image
      - uses: ./.github/actions/e2e-test-k3d
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          manager_image: "api-gateway-manager:PR-${{github.event.number}}"
          test_make_target: ${{ matrix.test_make_target }}
