# Jobs defined in this file are responsible for things that do not require container image
# but still relevant to the codebase such as unit tests, linting etc

name: Pull Request unit, integration & lint

permissions:
      contents: read

on:
  workflow_call:
  merge_group:

jobs:
  lint:
    name: Golang lint check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: false # We need to disable caching here, since this is handled by the golangci-lint action
      - name: golangci-lint
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 #v8.0.0
        with:
          version: 'latest'
          args: --timeout=10m --verbose

  check-manifests:
    name: Check generate and manifests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - run: |
          ./hack/check_manifests_generate.sh
        shell: bash
      - name: Upload generated manifest diff
        uses: actions/upload-artifact@v4
        with:
          name: generated-manifest-diff
          path: git-diff.diff
        if: failure()

  run-unit-tests:
    name: Run unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: Run tests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          PULL_PULL_SHA=${{ github.event.pull_request.head.sha}} \
          PULL_BASE_SHA=${{ github.event.pull_request.base.sha}} \
          PULL_NUMBER=${{ github.event.number }} \
          ./hack/ci/code-coverage-guard.sh
