# This workflow is responsible for all kinds of integration tests run on pull request.
# Those tests depend on a container image so in the first job we wait for the image build to succeed.

name: PR integration tests

on:
  pull_request:
    types: [synchronize, opened, reopened, ready_for_review]
    paths-ignore:
      - "docs/**"
      - "**/*.md"
      - "tests/performance/**"
      - "OWNERS"
      - "CODEOWNERS"
      - "sec-scanners-config.yaml"
      - ".github/**" #Ignoring since build job isn't triggered on the workflow directory changes
    branches:
      - main
      - 'release-**'

jobs:
  wait-for-image-build:
    name: Wait for image build
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: ./.github/actions/wait-for-job-succeed-or-fail
        with:
          job-name: 'pull-api-gateway-build'
          github-auth-token: ${{ secrets.GITHUB_TOKEN }}
          commit-ref: ${{ github.event.pull_request.head.sha }}

  integration-tests:
    name: Integration tests
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    needs: [wait-for-image-build]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
      - uses: ./.github/actions/integration-tests
        env:
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
          OIDC_ISSUER_URL: ${{ secrets.OIDC_ISSUER_URL }}
          JOB_TYPE: presubmit
          PULL_NUMBER: ${{github.event.number}}
        with:
          upgrade-image-name: "europe-docker.pkg.dev/kyma-project/dev/api-gateway-controller:PR-${{github.event.number}}"
