# Jobs defined in this file are responsible for things that do not require container image
# but still relevant to the codebase such as unit tests, linting etc

name: Pull Request unit & lint
on:
  workflow_call:

jobs:
  lint:
    name: Golang lint check
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          cache: false # We need to disable caching here, since this is handled by the golangci-lint action
      - name: golangci-lint
        uses: golangci/golangci-lint-action@971e284b6050e8a5849b72094c50ab08da042db8 #v6.1.1
        with:
          version: 'latest'
          args: --timeout=10m --verbose

  run-unit-tests:
    name: Run unit tests
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - name: Run tests
        run: |
          PULL_PULL_SHA=${{ github.event.pull_request.head.sha}} \
          PULL_BASE_SHA=${{ github.event.pull_request.base.sha}} \
          PULL_NUMBER=${{ github.event.number }} \
          ./hack/ci/code-coverage-guard.sh

