# This workflow is responsible for all kinds of integration tests run on pull request.
# Those tests depend on a container image so in the first job we wait for the image build to succeed.

name: PR

on:
  pull_request:
    types: [synchronize, opened, reopened, ready_for_review]
    paths-ignore:
      - "docs/**"
      - "**/*.md"
      - "tests/performance/**"
      - "OWNERS"
      - "CODEOWNERS"
      - "sec-scanners-config.yaml"
      - ".github/**" #Ignoring since build job isn't triggered on the workflow directory changes
    branches:
      - main
      - 'release-**'

jobs:
  wait-for-image-build:
    environment: ${{ github.event.pull_request.author_association != 'COLLABORATOR' && github.event.pull_request.author_association != 'OWNER' && 'restricted' || 'internal' }}
    name: Wait for image build
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: ./.github/actions/wait-for-job-succeed-or-fail
        with:
          job-name: 'pull-api-gateway-build'
          github-auth-token: ${{ secrets.GITHUB_TOKEN }}
          commit-ref: ${{ github.event.pull_request.head.sha }}

  integration-tests:
    environment: ${{ github.event.pull_request.author_association != 'COLLABORATOR' && github.event.pull_request.author_association != 'OWNER' && 'restricted' || 'internal' }}
    name: Integration tests
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    needs: [wait-for-image-build]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
      - uses: ./.github/actions/integration-tests
        env:
          JOB_TYPE: presubmit
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
          OIDC_ISSUER_URL: ${{ secrets.OIDC_ISSUER_URL }}
          KYMA_CLI_UNSTABLE: true
          MAKE_TARGET_TESTS: test-integration
          PULL_NUMBER: ${{ github.event.number }}

  integration-tests-istio-module:
    environment: ${{ github.event.pull_request.author_association != 'COLLABORATOR' && github.event.pull_request.author_association != 'OWNER' && 'restricted' || 'internal' }}
    name: Integration tests with Istio module
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    needs: [wait-for-image-build]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
      - uses: ./.github/actions/integration-tests
        env:
          JOB_TYPE: presubmit
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
          OIDC_ISSUER_URL: ${{ secrets.OIDC_ISSUER_URL }}
          KYMA_CLI_UNSTABLE: true
          MAKE_TARGET_TESTS: test-integration
          KYMA_COMPONENTS: "hack/kyma-components-no-istio.yaml"
          PULL_NUMBER: ${{ github.event.number }}

  upgrade-tests:
    environment: ${{ github.event.pull_request.author_association != 'COLLABORATOR' && github.event.pull_request.author_association != 'OWNER' && 'restricted' || 'internal' }}
    name: Upgrade tests
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    needs: [wait-for-image-build]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
      - uses: ./.github/actions/integration-tests
        env:
          JOB_TYPE: presubmit
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
          OIDC_ISSUER_URL: ${{ secrets.OIDC_ISSUER_URL }}
          MAKE_TARGET_TESTS: test-upgrade
          UPGRADE_JOB: true
          PULL_NUMBER: ${{ github.event.number }}
          TEST_UPGRADE_IMG: "europe-docker.pkg.dev/kyma-project/dev/api-gateway-controller:PR-${{ github.event.number }}"

  test-upgrade-tests:
    name: Upgrade tests test
    runs-on: ubuntu-latest
    if: github.event_name != 'schedule'
    needs: [wait-for-image-build]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
      - id: test-upgrade-img
        run: |
          echo "TEST_UPGRADE_IMG=europe-docker.pkg.dev/kyma-project/prod/api-gateway-controller:v$(git show -s --date=format:'%Y%m%d' --format=%cd 2c9b692be280cec58315737ad95226c4938aba4a)-$(printf %.8s 2c9b692be280cec58315737ad95226c4938aba4a)" >> $GITHUB_OUTPUT
      - uses: ./.github/actions/integration-tests
        env:
          JOB_TYPE: postsubmit
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
          OIDC_ISSUER_URL: ${{ secrets.OIDC_ISSUER_URL }}
          MAKE_TARGET_TESTS: test-upgrade
          UPGRADE_JOB: true
          PULL_BASE_SHA: 2c9b692be280cec58315737ad95226c4938aba4a
          TEST_UPGRADE_IMG: ${{ steps.test-upgrade-img.outputs.TEST_UPGRADE_IMG }}
