name: Pull Request

permissions:
  contents: read
  
on:
  pull_request:
    types: [ synchronize, opened, reopened, ready_for_review ]
    branches:
      - "main"
      - 'release-**'
      - 'feat/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true
  
env:
  GITLEAKS_VERSION: 8.21.0
  IMAGE_NAME: "api-gateway-manager"

jobs:
  gitleaks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Fetch gitleaks ${{ env.GITLEAKS_VERSION }}
        run: curl -Lso gitleaks.tar.gz https://github.com/gitleaks/gitleaks/releases/download/v${{ env.GITLEAKS_VERSION }}/gitleaks_${{ env.GITLEAKS_VERSION }}_linux_x64.tar.gz && tar -xvzf ./gitleaks.tar.gz
      - name: Run gitleaks
        # Scan commits between base and head of the pull request
        run: ./gitleaks detect --log-opts=${PULL_BASE_SHA}...${PULL_HEAD_SHA} --verbose --redact
        env:
          PULL_BASE_SHA: ${{ github.event.pull_request.base.sha }}
          PULL_HEAD_SHA: ${{ github.event.pull_request.head.sha }}

  build-image:
    name: Build manager image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
      - uses: ./.github/actions/build-manager-image
        with:
          operator-image-name: "api-gateway-manager:PR-${{github.event.number}}"

  get-image:
    name: Get manager image
    runs-on: ubuntu-latest
    needs: [ build-image ]
    outputs:
      image: "${{ steps.get-image.outputs.image }}"
      operator_version: "${{ steps.get-image.outputs.operator_version }}"
    steps:
      - id: get-image
        name: Get image for tests
        shell: bash
        env:
          PR_NUMBER: ${{github.event.number}}
        run: |
          image="${IMAGE_NAME}:PR-${PR_NUMBER}"
          operator_version="PR-${PR_NUMBER}"
          echo "image=${image}"
          echo "image=${image}" >> $GITHUB_OUTPUT
          echo "operator_version=${operator_version}"
          echo "operator_version=${operator_version}" >> $GITHUB_OUTPUT
      - uses: actions/checkout@v6
      - uses: ./.github/actions/load-manager-image
      - id: check-image
        name: Check whether image exists
        shell: bash
        env:
          LOCAL_IMAGE: ${{ steps.get-image.outputs.image }}
        run: |
          image_id=$(docker images -q "${LOCAL_IMAGE}")
          if [ -z "${image_id}" ]; then
            echo "Image does not exist"
            exit 1
          fi

  unit-tests:
    name: Unit tests & lint
    uses: ./.github/workflows/call-unit-lint.yaml
    secrets: inherit

  e2e-tests-k3d:
    name: E2E tests K3D
    runs-on: ubuntu-latest
    needs: [ get-image ]
    strategy:
      fail-fast: false
      matrix:
        test_make_target: [ "test-integration-ory", "test-integration-istio", "test-integration-v2alpha1", "test-integration-gateway", "test-integration-rate-limit", "test-integration-v2" ]
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/load-manager-image
      - uses: ./.github/actions/e2e-test-k3d
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          manager_image: ${{ needs.get-image.outputs.image }}
          test_make_target: ${{ matrix.test_make_target }}

  new-e2e-tests-k3d:
    name: New E2E tests K3D
    runs-on: ubuntu-latest
    needs: [ get-image ]
    strategy:
      fail-fast: false
      matrix:
        test_make_target: [ "e2e-test" ]
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/load-manager-image
      - uses: ./.github/actions/e2e-k3d
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          manager_image: ${{ needs.get-image.outputs.image }}
          test_make_target: ${{ matrix.test_make_target }}

  migration-downtime-tests-k3d:
    name: Zero Downtime Migration Tests K3D
    runs-on: ubuntu-latest
    needs: [ get-image ]
    strategy:
      fail-fast: false
      matrix:
        handler: [ "no_auth", "allow", "noop", "jwt", "oauth2_introspection" ]
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/load-manager-image
      - uses: ./.github/actions/e2e-test-k3d
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HANDLER: ${{ matrix.handler }}
        with:
          manager_image: ${{ needs.get-image.outputs.image }}
          test_make_target: test-migration-zero-downtime-${{ matrix.handler }}

  verify-pins:
    name: Verify-commit-pins
    uses: ./.github/workflows/call-verify-commit-pins.yaml
    secrets: inherit

  pull-request-status:
    needs: [ build-image, unit-tests, e2e-tests-k3d, migration-downtime-tests-k3d, verify-pins ]
    runs-on: ubuntu-latest
    if: always()
    steps:
      - if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: exit 0
      - if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1