name: Release Pull Request

on:
  pull_request_target:
    types: [ synchronize, opened, reopened, ready_for_review ]
    branches:
      - 'release-**'

jobs:
  build-image:
    name: Build manager image
    if: github.event.pull_request.draft == false
    uses: kyma-project/test-infra/.github/workflows/image-builder.yml@main
    with:
      name: api-gateway/pr/api-gateway-manager
      dockerfile: Dockerfile
      context: .
      build-args: |
        VERSION=PR-${{ github.event.number }}

  upload-image:
    runs-on: ubuntu-latest
    needs: [ build-image ]
    steps:
      - id: save
        run: |
          # taking only first image is enough, because 'images' point to single image with multiple tags
          src="$(echo '${{ needs.build-image.outputs.images }}' | jq -r '.[0]')"
          dest="api-gateway-manager:PR-${{ github.event.number }}"
          docker pull "$src"
          docker tag "$src" "$dest"
          docker save "$dest" > /tmp/manager-image.tar
      - id: upload
        uses: actions/upload-artifact@v4
        with:
          path: /tmp/manager-image.tar
          name: manager-image

  unit-tests:
    name: Unit tests & lint
    if: github.event.pull_request.draft == false
    uses: ./.github/workflows/call-unit-lint.yaml
    secrets: inherit

  integration-tests:
    name: Integration tests
    if: github.event.pull_request.draft == false
    needs: [ build-image ]
    uses: ./.github/workflows/call-pull-integration.yaml
    secrets: inherit

  verify-pins:
    name: Verify-commit-pins
    if: github.event.pull_request.draft == false
    uses: ./.github/workflows/call-verify-commit-pins.yaml
    secrets: inherit

  pull-request-status:
    needs: [ build-image, upload-image, unit-tests, integration-tests, verify-pins ]
    runs-on: ubuntu-latest
    if: always()
    steps:
      - if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: exit 0
      - if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1