name: Release Api Gateway - Step 1

permissions:
  contents: read

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version to be released (major.minor.patch)"
        default: ""
        required: true

jobs:
  release-api-gateway:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.GOAT_BOT_REPO_ACCESS }}

      - name: Validate version format
        id: validate-version-format
        env:
          CURRENT_RELEASE: ${{ inputs.version }}
        run: |
          if [[ ! "${CURRENT_RELEASE}" =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "Version ${CURRENT_RELEASE} does not have proper format!";
            exit 1
          fi

      - name: Check if release branch exists
        env:
          CURRENT_RELEASE: ${{ inputs.version }}
        run: |
          major=$(echo "${CURRENT_RELEASE}" | cut -d. -f1)
          minor=$(echo "${CURRENT_RELEASE}" | cut -d. -f2)
          branch_name="release-${major}.${minor}"
          echo "branch_name=${branch_name}" >> $GITHUB_ENV
          
          if git ls-remote --heads origin "${branch_name}" | grep -q "${branch_name}"; then
            echo "branch_exists=true" >> $GITHUB_ENV
          else
            echo "branch_exists=false" >> $GITHUB_ENV
          fi

      - name: Create a release branch
        if: env.branch_exists == 'false'
        run: |
          git checkout -b "${branch_name}"
          git push origin "${branch_name}"

      - name: Update sec-scanners-config
        env:
          GITHUB_TOKEN: ${{ secrets.GOAT_BOT_REPO_ACCESS }}
          CURRENT_RELEASE: ${{ inputs.version }}
          RELEASE_BRANCH: ${{ env.branch_name }}
          BRANCH_EXISTS: ${{ env.branch_exists }}
          GIT_USERNAME: ${{ vars.ACTIONS_BOT_NAME }}
          GIT_EMAIL: ${{ vars.ACTIONS_BOT_EMAIL }}
        run: |
          git config user.name "${GIT_USERNAME}"
          git config user.email "${GIT_EMAIL}"
          
          git fetch origin
          git checkout -b "sec-scanners-config/${CURRENT_RELEASE}"

          # Reset to current release branch
          if [ "${BRANCH_EXISTS}" == "true" ]; then
            git reset --hard "origin/${RELEASE_BRANCH}"
          else
          # Reset to main for minor, major releases
            git reset --hard origin/main
          fi
          
          sed -i "s/\(releases\|main\)\/api-gateway-manager.*/releases\/api-gateway-manager\:${CURRENT_RELEASE}/g" sec-scanners-config.yaml
          git add ./sec-scanners-config.yaml
          if git diff-index --quiet HEAD; then
            echo "Error: No changes detected"
            exit 1
          fi
          git commit -m "release: update sec-scanners-config.yaml" -m "Generated by GitHub Actions"
          git push -f -u origin "sec-scanners-config/${CURRENT_RELEASE}"
          gh pr create --base "${RELEASE_BRANCH}" --head "sec-scanners-config/${CURRENT_RELEASE}" --fill || true
