name: Release Api Gateway - Step 1

on:
  workflow_dispatch:
    inputs:
      name:
        description: "Release Tag"
        default: ""
        required: true

jobs:
  release-api-gateway:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GOAT_BOT_REPO_ACCESS }}

      - name: Determine if this is a patch release
        id: check_patch
        run: |
          if [[ "${{ github.event.inputs.name }}" =~ ^[0-9]+\.[0-9]+\.[1-9][0-9]*$ ]]; then
            echo "is_patch=true" >> $GITHUB_ENV
          else
            echo "is_patch=false" >> $GITHUB_ENV
          fi

      - name: Create a release branch
        run: |
          major_minor=$(echo "${{ github.event.inputs.name }}" | grep -Eo '^[0-9]+\.[0-9]+')
          branch_name="release-$major_minor"
          echo "branch_name=$branch_name" >> $GITHUB_ENV
          if [[ "${{ env.is_patch }}" == "false" ]]; then
            git checkout -b "$branch_name"
            git push origin "$branch_name"
          fi

      - name: Update sec-scanners-config
        env:
          GH_TOKEN: ${{ secrets.GOAT_BOT_REPO_ACCESS }}
          IMAGE: " - europe-docker.pkg.dev/kyma-project/prod/api-gateway/releases/api-gateway-manager"
          IMAGE_TAG: ${{ github.event.inputs.name }}
          REL_BRANCH: ${{ env.branch_name}}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          
          git checkout -b sec-scanners-config/$IMAGE_TAG
          sed -i "s|main\/api-gateway-manager.*|releases\/api-gateway-manager\:$IMAGE_TAG|g" sec-scanners-config.yaml
          git add .
          if git diff-index --quiet HEAD; then
            echo "Error: No changes detected"
            exit 1
          fi
          git commit -m "release: update sec-scanners-config.yaml" -m "Generated by GitHub Actions"
          git push -f -u origin sec-scanners-config/$IMAGE_TAG
          gh pr create --base $REL_BRANCH --head sec-scanners-config/$IMAGE_TAG --fill || true
