apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    control-plane: controller-manager
  name: api-gateway-controller-manager
  namespace: api-gateway-system
spec:
  replicas: 1
  selector:
    matchLabels:
      control-plane: controller-manager
  template:
    metadata:
      labels:
        control-plane: controller-manager
    spec:
      containers:
      - args:
        - --oathkeeper-svc-address="change-me"
        - --oathkeeper-svc-port="change-me"
        - --jwks-uri="change-me"
        - --service-blacklist="kubernetes"
        command:
        - /manager
        image: eu.gcr.io/kyma-project/incubator/develop/api-gateway-controller:1669a1f9
        imagePullPolicy: IfNotPresent
        name: manager
        resources:
          limits:
            cpu: 100m
            memory: 30Mi
          requests:
            cpu: 100m
            memory: 20Mi
      serviceAccountName: api-gateway-api-gateway-sa
      terminationGracePeriodSeconds: 10
